apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres1

spec:
  serviceName: postgres-svc
  replicas: 3
  selector:
    matchLabels:
      app: postgres-db

  template:
    metadata:
      labels:
        app: postgres-db
        tier: database
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
          name: postgres
        env:
        - name: POSTGRES_DB
          value: "coordinates_db"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres"

        volumeMounts:
        - name: postgres-storage-1
          mountPath: /var/lib/postgresql/data


  volumeClaimTemplates:
  - metadata:
      name: postgres-storage-1
      labels:
        app: postgres
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
