apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
  labels:
    app: postgres
    tier: database
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: postgres-db
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres
    protocol: TCP
